<section class="blog-section">
  <div class="wrap">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h1 class="panel__header-title">
          Blog News
        </h1>
      </div>
    </div>

    <div class="blog">
      <ul class="blog__posts">
        <%= render @blogs %>
      </ul>

      <%= will_paginate @blogs %>
    </div>
  </div>
</section>
