<section class="blog-section">
  <div class="wrap">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h1 class="panel__header-title">
          <%= @blog.title %>
        </h1>
      </div>
    </div>

    <div class="blog">
      <p>Posted on <%= @blog.date.strftime("%d %B %Y") %></p>
      <%= raw @blog.copy %>
    </div>
  </div>
</section>

