<li class="instagram__post" style="background-image: url(<%= instagram_image.image.url(:medium) %>)">
  <%= link_to "&nbsp;".html_safe, instagram_image.link, class: "instagram__link", target: :_blank %>
</li>
