// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$grid-max-width: 1200px;

// Grid
$medium-grid: (
columns: 12,
gutter: 20px,
media: $medium-screen
);

$large-grid: (
columns: 12,
gutter: 20px,
media: $large-screen
);

@font-face {
  font-family: 'Avenir';
  src: font-url('Avenir-Light.eot');
  src: font-url('Avenir-Light.eot?#iefix') format('embedded-opentype'),
  font-url('Avenir-Light.woff2') format('woff2'),
  font-url('Avenir-Light.woff') format('woff'),
  font-url('Avenir-Light.ttf') format('truetype'),
  font-url('Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: font-url('Avenir-Book.eot');
  src: font-url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
  font-url('Avenir-Book.woff2') format('woff2'),
  font-url('Avenir-Book.woff') format('woff'),
  font-url('Avenir-Book.ttf') format('truetype'),
  font-url('Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-stack-avenir: ("Avenir", sans-serif);
$font-stack-avenir-book: ("Avenir Book", sans-serif);

// Typography
$base-font-family: $font-stack-avenir;
$heading-font-family: $font-stack-avenir-book;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #a4a4a4;
$loulou: #41183e;
$mobster: #896f87;
$fringy-flower: #b5dcc2;
$eggplant: #694a66;

// Font Colors
$base-font-color: $light-gray;
$action-color: $loulou;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
