<div class="split-carousel__slide">
  <div class="split-carousel__image" style="background-image: url(<%= URI.encode(project.image.url(:main)) %>)"></div>
  <div class="split-carousel__copy">
    <div class="split-carousel__copy-inner">
      <%= content_tag :h4, project.title %>
      <%= raw project.copy %>
    </div>
  </div>
</div>
