<section class="section">
  <div id="carousel" class="carousel">
    <div class="carousel__slide" style="background-image: url(//placehold.it/1440x810)"></div>
    <div class="carousel__slide" style="background-image: url(//placehold.it/1440x810)"></div>
    <div class="carousel__slide" style="background-image: url(//placehold.it/1440x810)"></div>
  </div>

  <%= render "scroll_icon" %>
</section>
