<section class="section">
  <div class="vertically-aligned">
    <div class="introduction">
      <h2>Based in the heart of Suffolk, we are a timber frame building design and construction company.</h2>
      <p>With over fifty years combined experience. We’re proud to offer bespoke design and construction service of everything from large swimming pool halls with extensive uninterrupted spans, to private homes, garden rooms and small extensions.</p>
    </div>
  </div>
</section>
