<section class="section fp-auto-height-responsive">
  <div class="wrap vertically-aligned">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h4>
          Instagram News
        </h4>
      </div>
    </div>

    <div class="instagram">
      <ul class="instagram__posts">
        <%= render instagram_images %>
      </ul>
    </div>

    <div class="panel__header">
      <div class="panel__header-inner">
        <h4>
          Blog News
        </h4>
      </div>
    </div>

    <div class="blog">
      <ul class="blog__posts">
        <%= render blogs %>
      </ul>
    </div>
  </div>
</section>
