<section class="section fp-auto-height-responsive">
  <div class="vertically-aligned">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h4>
          Our Process
        </h4>
      </div>
    </div>
  </div>
</section>
