<section class="section fp-auto-height-responsive">
  <div class="wrap vertically-aligned">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h4 class="panel__header-title">
          Our Process
        </h4>
      </div>
    </div>

    <div class="process-slider process-slider--nav">
      <% our_processes.each do |step| %>
        <div class="process-slider__nav-item">
          <%= image_tag step.icon.url, class: "process-slider__nav-icon inline" %>
        </div>
      <% end %>
    </div>

    <div class="process-slider process-slider--for">
      <% our_processes.each do |step| %>
        <div>
          <%= content_tag :h3, step.title %>
          <%= raw step.copy %>
        </div>
      <% end %>
    </div>
  </div>
</section>
