<section class="section fp-auto-height-responsive">
  <div class="grid">
    <%= render projects %>
  </div>

  <% unless copy.blank? %>
    <div class="project-copy">
      <%= raw copy %>
    </div>
  <% end %>
</section>
