<section class="section fp-auto-height-responsive">
  <div class="wrap vertically-aligned">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales accumsan urna. Mauris faucibus ex in congue pellentesque. Cras dignissim leo augue, vitae facilisis ligula feugiat ut. Donec ullamcorper tempor nisl id commodo. Quisque convallis quam justo, non tempus orci.</p>
      <footer><cite>Roland - Urban Cottage</cite></footer>
    </blockquote>
  </div>
</section>
