<section class="section">
  <div class="vertically-aligned">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h4>
          Quote...
        </h4>
      </div>
    </div>
  </div>
</section>
