<section class="section fp-auto-height-responsive">
  <div class="wrap vertically-aligned">
    <blockquote>
      <%= simple_format quote %>
      <footer><cite><%= quote_citation %></cite></footer>
    </blockquote>
  </div>
</section>
