<section class="section fp-auto-height-responsive">
  <div class="wrap vertically-aligned">
    <div class="team">
      <ul class="team-member__posts">
        <%= render team_members %>
      </ul>
    </div>
  </div>
</section>
