<div id="main" class="main">
  <%= render "static/hero" %>
  <%= render "static/introduction" %>
  <section class="section">C</section>
  <%= render partial: "instagram", locals: { instagram_images: @home.instagram_images } %>
</div>
