.blog-section {
  margin-top: 60px;
}

.blog__header-navigation {
  @include grid-column(12);
  padding: 25px 0 0;

  @include grid-media($medium-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
}

.blog {
  @include grid-column(12);
  margin-bottom: 40px;

  @include grid-media($large-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
}

.blog__posts {
  @include grid-container;
  @include grid-collapse;
}

.blog__post {
  @include grid-column(6);
  @include aspect-ratio(1, 1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 115%;
  list-style-type: none;
  margin-bottom: 20px;
  text-align: center;
  position: relative;

  &:nth-child(5) {
    display: none;
  }

  @include grid-media($medium-grid) {
    @include grid-column(2.4);

    &:nth-child(5) {
      display: block;
    }
  }
}

.blog__link {
  background-color: rgba($fringy-flower, 0.7);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: 0;
  margin: auto;
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:hover {
    opacity: 1;
  }
}

.blog__navigation {
  @include grid-column(12);
  margin-bottom: 40px;

  @include grid-media($medium-grid) {
    @include grid-column(8);
    @include grid-push(2);
    margin-bottom: 80px;
  }
}

.blog__navigation-link {
  &--previous {
    float: left;
  }

  &--next {
    float: right;
  }
}
