.contact {
  background: $loulou;
  padding-bottom: 50px;
  padding-top: 40px;
  text-align: center;

  @include grid-media($medium-grid) {
    padding: 0;
  }
}

.contact__details {
  @include grid-column(12);
}

.contact__email {
  color: $fringy-flower;
  display: block;

  @include grid-media($medium-grid) {
    font-size: 1.5625em;
    line-height: 1.3;
  }

  &:hover {
    color: $eggplant;
  }

  &--margin-top {
    margin-top: 30px;
  }
}

.contact__number {
  color: $fringy-flower;

  @include grid-media($medium-grid) {
    font-size: 1.5625em;
    line-height: 1.3;
  }

  a[href^="tel:"] {
    color: $fringy-flower;

    &:hover {
      color: $fringy-flower;
    }
  }
}

.contact__address {
  color: $eggplant;
  display: inline-block;
  margin: 30px auto;
  text-decoration: none;

  @include grid-media($medium-grid) {
    font-size: 1.5625em;
    line-height: 1.3;
    margin: 60px auto 40px;
  }

  &:hover {
    color: $fringy-flower;
  }

  &:before {
    background-image: image-url("pin.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
    height: 54px;
    margin-bottom: 10px;
  }
}
