.grid {
  @include grid-container;
  display: flex;
  flex-flow: wrap;
}

.grid__box {
  width: 100%;
  height: calc(50vh - 30px);
  text-align: center;
  align-self: start;
  position: relative;

  @include grid-media($medium-grid) {
    width: 50%;
  }

  @include grid-media($large-grid) {
    width: 33.33333333%;
  }
}

.grid__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.grid__overlay {
  background-color: rgba($fringy-flower, 0.7);
  color: #184130;
  display: flex;
  font-size: 1.5625em;
  font-weight: 300;
  line-height: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: 0;
  margin: auto;
  padding: 0 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:hover {
    opacity: 1;
  }

  h4 {
    margin-bottom: 0;
  }
}
