.instagram {
  @include grid-column(12);
  margin-bottom: 40px;

  @include grid-media($large-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
}

.instagram__posts {
  @include grid-container;
  @include grid-collapse;
}

.instagram__post {
  @include grid-column(6);
  @include aspect-ratio(1, 1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  list-style-type: none;
  margin-bottom: 20px;
  position: relative;

  &:nth-child(5) {
    display: none;
  }

  @include grid-media($medium-grid) {
    @include grid-column(2.4);

    &:nth-child(5) {
      display: block;
    }
  }
}

.instagram__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
