.introduction {
  @include grid-column(12);

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.125em;
  }

  @include grid-media($medium-grid) {
    @include grid-column(10);
    @include grid-push(1);

    h2 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.25em;
    }
  }

  @include grid-media($large-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
}
