.introduction {
  @include grid-column(11);
  @include grid-push(0.5);

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.125em;
  }

  @include grid-media($medium-grid) {
    @include grid-column(10);
    @include grid-push(1);

    h2 {
      font-size: 2.6875em;
      line-height: 1.16;
    }

    p {
      font-size: 1.3125em;
      line-height: 1.43;
    }
  }

  @include grid-media($large-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
}
