$modal-close-color: $loulou;

.modal {
}

.modal__open {
  overflow: hidden !important;
}

.modal__state {
  display: none;
}

.modal__overlay {
  @include position(fixed, 0);
  background-color: rgba(#fff, 0.7);
  opacity: 0;
  text-align: left;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999;

  .modal-bg {
    @include position(absolute, 0);
    cursor: pointer;
  }
}

.modal__inner {
  @include grid-column(10);
  @include grid-push(1);
  background-color: #fff;
  height: calc(100vh - 160px);
  margin-top: 80px;
  overflow: auto;
  position: relative;
  transition: opacity 0.25s ease;

  @include grid-media($medium-grid) {
    overflow: hidden;
  }
}

.modal__close {
  @include position(fixed, 1em null null 1em);
  @include size(1.5em);
  cursor: pointer;

  &::after,
  &::before {
    @include position(absolute, 3px 3px 0 50%);
    @include size(0.15em, 1.5em);
    background: $modal-close-color;
    content: "";
    display: block;
    margin: -3px 0 0 -1px;
    transform: rotate(45deg);
  }

  &:hover::after,
  &:hover::before {
    background: darken($modal-close-color, 10%);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.modal__state:checked + .modal__overlay {
  opacity: 1;
  visibility: visible;
}
