.modal-carousel {
  @include grid-container;
  margin-bottom: 0;
  width: 100%;

  @include grid-media($medium-grid) {
    margin-left: 0;
  }

  .slick-prev,
  .slick-next {
    position: fixed;
    height: 40px;
    width: 50px;
  }

  .slick-prev {
    left: 10px;

    @include grid-media($medium-grid) {
      left: 30px;
    }

    &:before {
      content: image-url('arrow-left.svg');
      opacity: 1;
    }
  }

  .slick-next {
    right: 10px;

    @include grid-media($medium-grid) {
      right: 30px;
    }

    &:before {
      content: image-url('arrow-right.svg');
      opacity: 1;
    }
  }
}

.modal-carousel__slide {
  height: 100%;
}

.modal-carousel__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 160px);
}

.modal-carousel__copy {
  @include grid-column(12);
  height: calc(100vh - 160px);
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    text-align: center;
  }

  @include grid-media($medium-grid) {
    @include grid-column(10);
    @include grid-push(1);

    h4 {
      font-size: 2.1875em;
      line-height: 1;
    }
  }
}

.modal-carousel__copy-inner {
  padding: 20px 10px;

  @include grid-media($medium-grid) {
    padding: 60px 40px 20px;
  }
}
