.panel__header {
  @include grid-container;
  padding: 20px 0;
  text-align: center;
}

.panel__header-inner {
  @include grid-column(12);
}

.panel__header-title {
  font-size: 1.5625em;
  line-height: 1.4;
}
