.split-carousel {
  @include grid-container;
  @include grid-collapse;
  margin-bottom: 0;

  .slick-prev,
  .slick-next {
    position: fixed;
  }

  .slick-prev {
    left: 10px;

    @include grid-media($medium-grid) {
      left: 20px;
    }

    &:before {
      content: image-url('arrow-left.svg');
      opacity: 1;
    }
  }

  .slick-next {
    right: 10px;

    @include grid-media($medium-grid) {
      right: 20px;
    }

    &:before {
      content: image-url('arrow-right.svg');
      opacity: 1;
    }
  }
}

.split-carousel__slide {
  height: 100%;
}

.split-carousel__image {
  @include grid-column(12);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;

  @include grid-media($medium-grid) {
    @include grid-column(6);
    height: calc(100vh - 160px);
  }
}

.split-carousel__copy {
  @include grid-column(12);
  height: 100%;
  overflow: scroll;

  @include grid-media($medium-grid) {
    @include grid-column(6);


    h4 {
      font-size: 2.1875em;
      line-height: 1;
    }

    p {
      font-size: 1.5625em;
      line-height: 1.4;
    }
  }
}

.split-carousel__copy-inner {
  padding: 20px;

  @include grid-media($medium-grid) {
    padding: 60px 40px 20px;
  }
}
