@charset "utf-8";

@import "normalize.css/normalize";

@import "bourbon";
@import "neat";

@import "base/base";
@import "slick/slick";
@import "slick/slick-theme";

@import "carousel";
@import "introduction";
@import "layout";
@import "navigation";
@import "scroll-icon";

.vertically-evenly-spaced {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
