<section class="section">
  <div class="vertically-aligned">
    <div class="panel__header">
      <div class="panel__header-inner">
        <h4>
          Instagram News
        </h4>
      </div>
    </div>

    <div class="instagram">
      <ul class="instagram__posts">
        <%= render instagram_images %>
      </ul>
    </div>
  </div>
</section>
