<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <%= image_tag "menu-logo.svg" %>
    </a>
    <a href="javascript:void(0)" id="js-navigation-mobile-menu" class="navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Timberworks</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Passiveworks</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Bespoke</a></li>
        <li class="nav-link"><a href="javascript:void(0)">News</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="progress-container">
    <div class="progress-bar" id="progress"></div>
  </div>
</header>
